<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
</head>
<body>
    <%- include("nav") %>
    <section class="cartsec">
        <div class="row">
            <div class="prodetail">
                
            </div>
            <div class="total">
                <div>
                    <h3>PRICE DETAILS</h3>
                </div>
                <hr>
                <div class="row">
                    <p>Price</p>
                    <p>₹0.00</p>
                </div>
                <div class="row">
                    <p>Discount</p>
                    <p>- ₹0.00</p>
                </div>
                <div class="row">
                    <p>Delivery Charges</p>
                    <p>Free</p>
                </div>
                <hr>
                <div class="row">
                    <h4>Total Amonut</h4>
                    <h4>₹0.00</h4>
                </div>
            </div>
        </div>
    </section>
</body>   
</html>