<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce-Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="row">
            <div class="logo">
                <a href="index.html">LOGITECH</a>
            </div>
            <nav>
                <ul class="row">
                    <li><a href="/user/">Home</a></li>
                    <li><a href="/product/">Products</a></li>
                    <li><a href="#">Cart</a></li>
                </ul>
            </nav>
            <div class="user">
                <a href="/user/login"><button>Sign In</button></a>
                <a href="/user/signup"><button>Sign Up</button></a>
            </div>
        </div>
    </header>
    <section class="profile">
        <h6>Wecome,</h6>
        <h5>User : <%=user.username %></h5>
        <h5>UserID: <%=user.email %></h5>
    </section>
</body>
</html>