<header>
    <div class="row">
        <div class="logo">
            <a href="/user/index">OUTLOOK</a>
        </div>
        <div class="search">
            <div class="row">
                <input type="search" name="search" placeholder="Search" class="searchin">
                <button class="searchbtn">Search</button>
            </div>
        </div>
        <nav>
            <ul class="row">
                <li><a href="/user/">Home</a></li>
                <li><a href="/product/productcreate">Products</a></li>
                <li><a href="/product/cart">Cart</a></li>
            </ul>
        </nav>
        <div class="user">
            <a href="/user/login"><button>Sign In</button></a>
            <a href="/user/signup"><button>Sign Up</button></a>
        </div>
    </div>
</header>