<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("nav") %>
    <section class="resetform">
        <form id="resetpass">
            <h2 class="title">RESET PASSWORD</h2>
            <label for="oldpassword">Old Password</label>
            <input type="text" id="oldpassword" placeholder="Old password" name="oldpassword"><br><br>
            <label for="newpassword">New Password</label>
            <input type="text" id="newpassword" placeholder="New password" name="newpassword"><br><br>
            <div class="resub">
            <input type="submit" value="Reset"><br>
            </div>
        </form>
    </section>
</body>
<script src="/reset.js"></script>
</html>